<div class="container pt-3 pb-4">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <h4 class="mb-0 line-height-1 text-truncate">Cashflows</h4>
      <span>
        @if (cashflows$ | async; as cashflows) {
          @if (cashflows.length) {
            <strong class="ms-3 text-muted">{{ cashflows.length }} results</strong>
          } @else {
            No cashflows defined!
          }
        } @else {
          <app-loader [small]="true"></app-loader>
        }
      </span>
    </div>
    <div class="actions p-0 d-flex align-items-center">
      <div class="form-check form-switch">
        <input (change)="inactiveChange()" class="form-check-input" id="inactive" type="checkbox" />
        <label class="custom-control-label" for="inactive">Inactive</label>
      </div>
    </div>
  </div>
</div>
<div class="container">
  @for (cashflow of cashflows$ | async; track cashflow) {
    <app-transaction-list-item (click)="click(cashflow.id)"
                             [amount]="cashflow.amount" [date]="cashflow.effectiveDate" [description]="
        cashflow.description ? cashflow.description : cashflow.category.name
      " [tags]="cashflow.tags"></app-transaction-list-item>
  }
</div>
