<div class="form-group">
  <div class="input-group mb-2">
    <label for="tags">Tags</label>
    <input #newTag (blur)="addTag(newTag.value); newTag.value = ''" (keyup.enter)="addTag(newTag.value)" [readonly]="isReadonly"
           class="form-control" id="tags" type="text" />
    <div class="input-group-append">
      <a (click)="addTag(newTag.value)" class="btn btn-outline-secondary text-secondary">
        <em class="bi bi-plus"></em>
      </a>
    </div>
  </div>
  <div>
    <span *ngFor="let tag of tagsArray.controls; index as i" class="text-lowercase">
      <small class="badge rounded-pill bg-primary">{{ tag.value }}
        <a (click)="removeTag(i)" class="btn btn-sm p-0">
          <em class="bi bi-x"></em>
        </a></small>&nbsp;
    </span>
  </div>
</div>
