<ng-container *ngIf="(transactions$ | async) as transactions; else loading">
  <ng-container *ngIf="transactions.items.length; else noItems">
    <dfta-transaction-list-item
      [description]="
        transaction.description
          ? transaction.description
          : transaction.category.name
      "
      [amount]="transaction.amount"
      [date]="transaction.date"
      [tags]="transaction.tags"
      (click)="click(transaction)"
      *ngFor="let transaction of transactions.items"
    ></dfta-transaction-list-item>
    <ngb-pagination
      class="d-flex justify-content-center"
      [collectionSize]="transactions.totalCount"
      [(page)]="page"
      (pageChange)="pageChange()"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      aria-label="Default pagination"
    ></ngb-pagination>
    <ng-template #noItems>Nothing to show!</ng-template>
  </ng-container>
</ng-container>
<ng-template #loading>Loading transactions...</ng-template>
