<div [formGroup]="form" class="container mt-2">
  <div class="form-group">
    <label for="interval">Interval type</label>
    <select [compareWith]="compareFn" class="form-control" formControlName="intervalType" id="interval"
            required>
      <option *ngFor="let interval of (intervalTypesNames | keyvalue)" [ngValue]="interval.key">
        {{ interval.value }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="frequency">Frequency</label>
    <input class="form-control" formControlName="frequency" id="frequency" min="1" required type="number"/>
  </div>
  <app-date-select label="Effective date" formControlName="effectiveDate"></app-date-select>
</div>
