<div class="container pt-3 pb-4">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <h4 class="mb-0 line-height-1 text-truncate">Trend</h4>
    </div>
  </div>
  @if (chartData$ | async) {
    <div class="pt-3">
      <canvas baseChart class="chart" [data]="chartData$ | async | filterNonNullish" [type]="chartType"
        [options]="chartOptions" [plugins]="chartPlugins">
      </canvas>
    </div>
  } @else {
    <app-loader [small]="true"></app-loader>
  }
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <h4 class="mb-0 line-height-1 text-truncate">Upcoming</h4>
      <span>
        @if (upcoming$ | async; as upcoming) {
          @if (upcoming.length) {
            <strong class="ms-3 text-muted">{{ upcoming.length }} cashflows</strong>
          } @else {
            <strong class="ms-3 text-muted">all good!</strong>
          }
        } @else {
          <app-loader [small]="true"></app-loader>
        }
      </span>
    </div>
    <div class="actions p-0 d-flex align-items-center">
      <button class="btn btn-link" routerLink="/transactions/make-purchase" title="Make purchase" type="button">
        <em class="bi bi-plus-square"></em>
      </button>
    </div>
  </div>
</div>
<div class="container">
  @for (upcoming of (upcoming$ | async); track upcoming) {
    <app-transaction-list-item (action)="action($event, upcoming)"
      [allowSave]="true" [amount]="upcoming.amount" [date]="upcoming.date"
      [description]="upcoming.description ? upcoming.description : upcoming.category.name" [tags]="upcoming.tags">
    </app-transaction-list-item>
  }
</div>
