@if ((upcomingCashflows$ | async); as upcomingCashflows) {
  @if (upcomingCashflows.length) {
    <div class="container">
      @for (upcomingCashflow of upcomingCashflows; track upcomingCashflow) {
        <app-transaction-list-item (action)="action($event, upcomingCashflow)"
          [allowSave]="true"
          [amount]="upcomingCashflow.amount"
                                 [date]="upcomingCashflow.date" [description]="
      upcomingCashflow.description
          ? upcomingCashflow.description
          : upcomingCashflow.category.name
      " [tags]="upcomingCashflow.tags"></app-transaction-list-item>
      }
    </div>
  } @else {
    Nothing to show!
  }
} @else {
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
}
