<form
  (ngSubmit)="saveProfile(profileForm.value)"
  [formGroup]="profileForm"
  autocomplete="off"
  novalidate>
  <div class="field">
    <label class="label" for="firstName">First Name:</label>
    <div class="control">
      <input
        class="input"
        formControlName="firstName"
        id="firstName"
        placeholder="First Name..."
        type="text" />
      @if (firstName?.invalid && (firstName?.dirty || firstName?.touched)) {
        <div
          class="alert alert-danger">
          @if (firstName?.errors?.['required']) {
            <div>
              First name is required.
            </div>
          }
          @if (firstName?.errors?.['pattern']) {
            <div>
              Must start with a letter.
            </div>
          }
        </div>
      }
    </div>
  </div>
  <div class="field">
    <label class="label" for="lastName">Last Name:</label>
    <div class="control">
      <input
        class="input"
        formControlName="lastName"
        id="lastName"
        placeholder="Last Name..."
        type="text" />
      @if (lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
        <div
          class="alert alert-danger">
          @if (lastName?.errors?.['required']) {
            <div>Last name is required.</div>
          }
        </div>
      }
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button
        [disabled]="!profileForm.valid"
        class="button is-link"
        type="button">
        Save
      </button>
    </div>
  </div>
</form>
