# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
# Define naming conventions
dotnet_naming_rule.pascal_case_for_methods_and_properties.symbols = method_and_property_symbols
dotnet_naming_rule.pascal_case_for_methods_and_properties.style = pascal_case_style
dotnet_naming_rule.pascal_case_for_methods_and_properties.severity = warning

dotnet_naming_symbols.method_and_property_symbols.applicable_kinds = method, property
dotnet_naming_symbols.method_and_property_symbols.applicable_accessibilities = *

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Prefer 'var' for built-in types
csharp_style_var_for_built_in_types = true:suggestion

# Prefer 'var' when the type is apparent
csharp_style_var_when_type_is_apparent = true:suggestion

# Prefer 'var' elsewhere
csharp_style_var_elsewhere = true:suggestion

# Prefer 'is null' over '== null'
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion

# Prefer interpolated strings over string.Format()
dotnet_style_prefer_interpolated_string = true:suggestion

# Prefer auto-properties over full properties
dotnet_style_prefer_auto_properties = true:suggestion

# Prefer expression-bodied members for methods, properties, operators, and indexers
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_operators = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion

# Using directives
dotnet_sort_system_directives_first = true
dotnet_remove_unnecessary_usings = true:warning
dotnet_separate_import_directive_groups = true

# Diagnostic analyzers
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1812.severity = none # this is not needed because using IoC
dotnet_diagnostic.CA2007.severity = none # this is not relevant when in ASP.NET Core application
dotnet_diagnostic.S2094.severity = none
dotnet_diagnostic.S2699.severity = none
resharper_class_never_instantiated_global_highlighting = none # this is not needed because using IoC

# Project files

# CA1056: URI-like properties should not be strings
dotnet_diagnostic.CA1056.severity = none

[*.{csproj,vbproj,proj,nativeproj,locproj}]
charset = utf-8

# Xml build files
[*.builds]
indent_size = 2

# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size = 2

# Xml config files
[*.{props,targets,config,nuspec}]
indent_size = 2

# YAML config files
[*.{yml,yaml}]
indent_size = 2

# Shell scripts
[*.sh]
end_of_line = lf

[*.{cmd,bat}]
end_of_line = crlf

[Scenario*.cs]
max_line_length = 0
