services:
  postgres-data-test:
    image: postgres:18
    container_name: postgres-data-test

  api-functional-tests:
    image: api-functional-tests
    container_name: api-functional-tests
    build:
      context: .
      dockerfile: ./src/Holefeeder.Api/Dockerfile
      target: functionaltests
    depends_on:
      - postgres-data-test
    volumes:
      - ./tests-results:/TestResults

  api-unit-tests:
    image: api-unit-tests
    container_name: api-unit-tests
    build:
      context: .
      dockerfile: ./src/Holefeeder.Api/Dockerfile
      target: unittests
    volumes:
      - ./tests-results/:/TestResults
