services:
  postgres-data-test:
    expose:
      - 5432
    environment:
      - POSTGRES_DB=budgeting_tests
      - POSTGRES_USER=budgeting_tests
      - POSTGRES_PASSWORD=mypass

  api-functional-tests:
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://0.0.0.0:80
      DOTNET_RUNNING_IN_CONTAINER: true
      LOCAL_CONNECTION_STRING: Host=postgres-data-test;Port=5432;Username=budgeting_tests;Password=mypass;Database=budgeting_tests;
      ASPNETCORE_Kestrel__Certificates__Default__Password: YourSecurePassword
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/aspnetapp.pfx
    entrypoint:
      - dotnet
      - test
      - --no-restore
      - --configuration
      - Release
      - --logger
      - trx;verbosity=normal
      - --results-directory
      - /TestResults
      - --collect
      - 'XPlat Code Coverage'

  api-unit-tests:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    entrypoint:
      - dotnet
      - test
      - --no-restore
      - --configuration
      - Release
      - --logger
      - trx;verbosity=normal
      - --results-directory
      - /TestResults
      - --collect
      - 'XPlat Code Coverage'

  web-angular-tests:
    entrypoint:
      - pnpm
      - test:ci
