<ng-container>
  <div class="pt-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h1 class="mb-0 line-height-1 text-truncate d-none d-lg-block">
          Register
        </h1>
        <h4 class="mb-0 line-height-1 text-truncate d-lg-none">
          Register
        </h4>
      </div>
    </div>
    <div class="container mb-5">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success">
            <fa-icon class="pb-1" [icon]="faGoogle" aria-hidden="true"></fa-icon>&nbsp;&nbsp;Sign in with
            Google
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>