@if ((transactions$ | async); as transactions) {
  @if (transactions.items) {
    <div class="container">
      @for (transaction of transactions.items; track transaction) {
        <app-transaction-list-item (click)="click(transaction)"
                                 [amount]="transaction.amount" [date]="transaction.date" [description]="
          transaction.description
            ? transaction.description
            : transaction.category.name
        " [tags]="transaction.tags"></app-transaction-list-item>
      }
    </div>
    <ngb-pagination (pageChange)="pageChanged($event)" [(page)]="currentPage" [boundaryLinks]="true" [collectionSize]="transactions.totalCount"
      [maxSize]="7" [pageSize]="limit" class="d-flex justify-content-center">
    </ngb-pagination>
  } @else {
    Nothing to show!
  }
} @else {
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
}
