<ng-container *ngIf="(transactions$ | async) as transactions; else loader">
  <ng-container *ngIf="transactions.items; else noItems">
    <div class="container">
      <app-transaction-list-item (click)="click(transaction)" *ngFor="let transaction of transactions.items"
                                 [amount]="transaction.amount" [date]="transaction.date" [description]="
          transaction.description
            ? transaction.description
            : transaction.category.name
        " [tags]="transaction.tags"></app-transaction-list-item>
    </div>
    <ngb-pagination (pageChange)="pageChanged($event)" [(page)]="currentPage" [boundaryLinks]="true" [collectionSize]="transactions.totalCount"
                    [maxSize]="7" [pageSize]="limit" class="d-flex justify-content-center">
    </ngb-pagination>
  </ng-container>
  <ng-template #noItems>Nothing to show!</ng-template>
</ng-container>
<ng-template #loader>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
