<ng-container *ngIf="cashflows; else loader">
  <div class="container pt-3 pb-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h1 class="mb-0 line-height-1 text-truncate d-none d-lg-block">
          Cashflows
        </h1>
        <h4 class="mb-0 line-height-1 text-truncate d-lg-none">
          Cashflows
        </h4>
        <p>
          <strong class="ml-3 text-muted"
            >{{ cashflows.length }} results</strong
          >
        </p>
      </div>
      <div class="actions p-0 d-flex align-items-center">
        <div class="form-group custom-control custom-switch">
          <input
            class="form-control custom-control-input"
            type="checkbox"
            id="inactive"
            (change)="inactiveChange()"
          />
          <label class="custom-control-label" for="inactive">Inactive</label>
        </div>

        <button type="button" class="btn btn-link" routerLink="create">
          <fa-icon
            class="pb-1 text-secondary"
            [icon]="faPlus"
            aria-hidden="true"
          ></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <dfta-transaction-list-item
      [description]="
        cashflow.description ? cashflow.description : cashflow.category
      "
      [amount]="cashflow.amount"
      [date]="cashflow.effectiveDate"
      [tags]="cashflow.tags"
      (click)="click(cashflow.id)"
      *ngFor="let cashflow of cashflows"
    ></dfta-transaction-list-item>
  </div>
  <ng-template #noItems>No cashflows defined!</ng-template>
</ng-container>
<ng-template #loader>Loading cashflows...</ng-template>
