/* Bootstrap */
@import 'bootstrap';

/* Custom */
@import 'variables';
@import 'mixins';
@import 'custom';

// // 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import '../scss/main.scss';
// @import "../node_modules/bootstrap/scss/_functions";

// $custom-color: #df711b;
// $custom-theme-colors: (
//   "custom": $custom-color,
// );

// // Variables come next
// @import "../node_modules/bootstrap/scss/_variables";

// // Optional Sass map overrides here
// $theme-colors: map-merge($theme-colors, $custom-theme-colors);

// // Followed by our default maps
// @import "../node_modules/bootstrap/scss/_maps";

// // Rest of our imports
// @import "../node_modules/bootstrap/scss/_mixins";
// @import "../node_modules/bootstrap/scss/_utilities";
// @import "../node_modules/bootstrap/scss/_root";
// @import "../node_modules/bootstrap/scss/_reboot";
// //@import '~ngx-toastr/toastr-bs4-alert';

 // Add additional custom code here
 body {
   min-height: 75rem;
   padding-top: 4.5rem;
 }

 .invalid {
   border: 1px solid red;
 }

 .form-control.ng-invalid {
   border: 1px solid red;
 }
