<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-safe"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ng-container *ngIf="loggedIn">
          <ul class="navbar-nav justify-content-begin flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
                <i class="bi bi-speedometer2"></i>&nbsp;Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/accounts']" routerLinkActive="active">
                <i class="bi bi-wallet2"></i>&nbsp;Accounts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cashflows']" routerLinkActive="active">
                <i class="bi bi-cash-coin"></i>&nbsp;Cashflows
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/statistics']" routerLinkActive="active">
                <i class="bi bi-graph-up"></i>&nbsp;Statistics
              </a>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary" (click)="open(datePicker)">
                <i class="bi bi-calendar-range"></i>&nbsp;{{ period?.start | date }} - {{ period?.end | date }}
              </button>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>&nbsp;{{profile?.name}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" [routerLink]="['/settings']"><i class="bi bi-gear"></i>&nbsp;Settings</a></li>
                <li><a class="dropdown-item" [routerLink]="['/healthchecks-ui']"><i class="bi bi-file-medical"></i>&nbsp;Health Checks</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-left"></i>&nbsp;Log out</a></li>
              </ul>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
<ng-template #datePicker let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-dark" id="modal-basic-title">Period selection</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="d-md-none d-flex justify-content-center">
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t"
            [firstDayOfWeek]=7 outsideDays="hidden">
          </ngb-datepicker>
        </div>
        <div class="d-none d-md-block">
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
            [firstDayOfWeek]=7 outsideDays="hidden">
          </ngb-datepicker>
        </div>
        <div class="d-flex p-1 justify-content-center">
          <button type="button" class="btn btn-outline" (click)="previousPeriod()" ngbTooltip="Previous period">
            <i class="bi bi-calendar-minus"></i>
          </button>
          <button type="button" class="btn btn-outline ml-3" (click)="currentPeriod()"
            ngbTooltip="Current period">
            <i class="bi bi-calendar-check"></i>
          </button>
          <button type="button" class="btn btn-outline ml-3" (click)="nextPeriod()" ngbTooltip="Next period">
            <i class="bi bi-calendar-plus"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Set click')">
      Set
    </button>
  </div>
</ng-template>
<ng-template #t let-date let-focused="focused">
  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
    (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
