<ng-container *ngIf="settings$ | async; else loader">
  <div class="container pt-3 mb-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="settingsForm">
      <app-date-picker label="Date" formControlName="effectiveDate"></app-date-picker>
      <div class="form-group">
        <label for="interval">Interval type</label>
        <select [compareWith]="compareFn" class="form-control" formControlName="intervalType" id="interval" required>
          <option *ngFor="let interval of intervalTypesNames | keyvalue" [ngValue]="interval.key">{{interval.value}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="frequency">Frequency</label>
        <input class="form-control" formControlName="frequency" id="frequency" min="1" required type="number">
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary me-2" routerLink="../">Cancel</button>
        <button [disabled]="!settingsForm.valid" class="btn btn-danger" type="submit">Save</button>
      </div>
    </form>
  </div>
</ng-container>
<ng-template #loader>
  Loading...
</ng-template>
