<ng-container *ngIf="isLoaded; else loader">
  <div class="pt-3">
    <a routerLink="/accounts" class="text-large line-height-1 btn-link">
      <fa-icon
        class="pb-1"
        [icon]="faArrowLeft"
        aria-hidden="true"
      ></fa-icon>
      Accounts
    </a>
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h1 class="mb-0 line-height-1 text-truncate d-none d-lg-block">
          {{ account.name }}
        </h1>
        <h4 class="mb-0 line-height-1 text-truncate d-lg-none">
          {{ account.name }}
        </h4>
      </div>
      <div class="actions p-0 d-flex align-items-center">
        <button type="button" class="btn btn-link" (click)="edit()">
          <fa-icon
            class="pb-1 text-secondary"
            [icon]="faEdit"
            aria-hidden="true"
          ></fa-icon>
        </button>
        <button type="button" class="btn btn-link" (click)="addTransaction()">
          <fa-icon
            class="pb-1 text-secondary"
            [icon]="faPlus"
            aria-hidden="true"
          ></fa-icon>
        </button>
      </div>
    </div>
    <div class="d-flex shadow-sm mt-3 bg-card">
      <div class="d-flex flex-column flex-fill p-3 border-right">
        <small class="text-muted">Balance</small>
        <span class="lead font-weight-bolder">
          <span [className]="balanceClass()">{{
            account.balance | currency
          }}</span>
        </span>
      </div>
      <div class="flex-fill d-flex flex-column">
        <div class="d-flex p-3 justify-content-between border-bottom">
          <small class="text-muted align-items-center">Projection</small>
          <small class="align-items-center font-weight-bold">
            <span [className]="upcomingBalanceClass()">{{
              upcomingBalance | currency
            }}</span></small
          >
        </div>
        <div class="d-flex p-3 justify-content-between">
          <small class="text-muted">Updated</small>
          <small class="text-muted">{{
            account.updated | date: 'yyyy-MM-dd'
          }}</small>
        </div>
      </div>
    </div>
  </div>
  <ul class="mt-3 nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['upcoming']" routerLinkActive="active">Upcoming</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['transactions']" routerLinkActive="active">Past transactions</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</ng-container>
<ng-template #loader>Loading accounts...</ng-template>
