<ng-container *ngIf="(upcomingCashflows$ | async) as upcomingCashflows; else loader">
  <ng-container *ngIf="upcomingCashflows.length; else noItems">
    <div class="container">
      <dfta-transaction-list-item
      [description]="
      upcomingCashflow.description
          ? upcomingCashflow.description
          : upcomingCashflow.category.name
      "
      [amount]="upcomingCashflow.amount"
      [date]="upcomingCashflow.date"
      [tags]="upcomingCashflow.tags"
      [allowSave]="true"
      (action)="action($event, upcomingCashflow)"
      *ngFor="let upcomingCashflow of upcomingCashflows"
    ></dfta-transaction-list-item>
    </div>
  </ng-container>
  <ng-template #noItems>Nothing to show!</ng-template>
</ng-container>
<ng-template #loader>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
