<div class="container pt-3 mb-5">
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="datepicker">Date</label>
      <div class="input-group mb-2">
        <input class="form-control" placeholder="yyyy-mm-dd" id="datepicker" formControlName="effectiveDate"
          firstDayOfWeek="7" ngbDatepicker #date="ngbDatepicker" (click)="date.toggle()" required />
        <div class="input-group-append">
          <a class="btn btn-outline-secondary" (click)="date.toggle()">
            <fa-icon [icon]="faCalendarAlt" aria-hidden="true"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="intervalType">Interval type</label>
      <select class="form-control" formControlName="intervalType" [compareWith]="compareFn" id="interval" required>
        <option *ngFor="let interval of intervalTypesNames | keyvalue" [ngValue]="interval.key">{{interval.value}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="frequency">Frequency</label>
      <input class="form-control" type="number" formControlName="frequency" id="frequency" required min="1">
    </div>
    <div class="d-flex justify-content-end mt-4">
      <button routerLink="../" class="btn btn-primary mr-2">Cancel</button>
      <button type="submit" [disabled]="!settingsForm.valid" class="btn btn-danger">Save</button>
    </div>
  </form>
</div>