@import 'custom-bootstrap';
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.btn-link {
    color: darkgoldenrod;
}

form, input, select, label, p {
    color: white !important;
}

input, select {
    background-color: $gray-600 !important;
}

ngb-datepicker.dropdown-menu {
    background-color: $gray-600 !important;
}