// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "functions";

$custom-color: #df711b;
$custom-theme-colors: (
  "custom": $custom-color,
);

// Variables come next
@import "variables";

// Optional Sass map overrides here
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Followed by our default maps
@import "maps";

// Rest of our imports
@import "mixins";
@import "utilities";
@import "root";
@import "reboot";

// Add additional custom code here
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.invalid {
  border: 1px solid red;
}

.form-control.ng-invalid {
  border: 1px solid red;
}
