@if (values$ | async) {
  <div class="pt-3 pb-4 mb-3">
    <div class="container">
      <h4 class="mb-5 line-height-1 text-truncate">Make purchase</h4>
      <div class="container mb-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              aria-controls="purchase"
              aria-selected="true"
              class="nav-link active"
              data-bs-target="#purchase"
              data-bs-toggle="tab"
              id="purchase-tab"
              role="tab"
              type="button">
              Purchase
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              aria-controls="transfer"
              aria-selected="false"
              class="nav-link"
              data-bs-target="#transfer"
              data-bs-toggle="tab"
              id="transfer-tab"
              role="tab"
              type="button">
              Transfer
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            aria-labelledby="purchase-tab"
            class="tab-pane fade show active"
            id="purchase"
            role="tabpanel">
            <form (ngSubmit)="onMakePurchase()" [formGroup]="formPurchase">
              <app-transaction-edit></app-transaction-edit>
              <div class="form-check form-switch mb-5 mt-5 me-5">
                <input
                  (click)="collapse.toggle()"
                  [attr.aria-expanded]="!isNotRecurring"
                  class="form-check-input"
                  formControlName="isRecurring"
                  id="recurringCashflow"
                  type="checkbox" />
                <label class="custom-control-label" for="recurringCashflow"
                  >Recurring cashflow</label
                  >
                  <div #collapse="ngbCollapse" [(ngbCollapse)]="isNotRecurring">
                    <div class="card">
                      <div class="card-body">
                        <app-recurring-cashflow
                        formGroupName="cashflow"></app-recurring-cashflow>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                  <button
                    (click)="goBack()"
                    class="btn btn-secondary me-2"
                    type="button">
                    Cancel
                  </button>
                  <button
                    [disabled]="!formPurchase.valid"
                    class="btn btn-primary"
                    type="submit">
                    Save
                  </button>
                </div>
                @if (!formPurchase.valid) {
                  <em class="form-text text-danger">{{
                    formPurchase.errors
                  }}</em>
                }
              </form>
            </div>
            <div
              aria-labelledby="transfer-tab"
              class="tab-pane fade"
              id="transfer"
              role="tabpanel">
              <form (ngSubmit)="onTransfer()" [formGroup]="formTransfer">
                <app-transfer></app-transfer>
                <div class="d-flex justify-content-end mt-4">
                  <button
                    (click)="goBack()"
                    class="btn btn-secondary me-2"
                    type="button">
                    Cancel
                  </button>
                  <button
                    [disabled]="!formTransfer.valid"
                    class="btn btn-primary"
                    type="submit">
                    Save
                  </button>
                </div>
                @if (!formTransfer.valid) {
                  <em class="form-text text-danger">{{
                    formTransfer.errors
                  }}</em>
                }
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <app-loader></app-loader>
  }
