<form (ngSubmit)="saveProfile(profileForm.value)" [formGroup]="profileForm" autocomplete="off" novalidate>
  <div class="field">
    <label class="label" for="firstName">First Name:</label>
    <div class="control">
      <input class="input" formControlName="firstName" id="firstName" placeholder="First Name..." type="text"/>
      <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
        <div *ngIf="firstName?.errors?.['required']">
          First name is required.
        </div>
        <div *ngIf="firstName?.errors?.['pattern']">
          Must start with a letter.
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label" for="lastName">Last Name:</label>
    <div class="control">
      <input class="input" formControlName="lastName" id="lastName" placeholder="Last Name..." type="text"/>
      <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
        <div *ngIf="lastName?.errors?.['required']">
          Last name is required.
        </div>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button [disabled]="!profileForm.valid" class="button is-link">Save</button>
    </div>
  </div>
</form>
