<div class="container pt-3 pb-4">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <h4 class="mb-0 line-height-1 text-truncate">Accounts</h4>
      <span>
        @if (accounts$ | async; as accounts) {
          @if (accounts.length) {
            <strong class="ms-3 text-muted">{{ accounts.length }} results</strong>
          } @else {
            <strong class="ms-3 text-muted">all good!</strong>
          }
        } @else {
          <app-loader [small]="true"></app-loader>
        }
      </span>
    </div>
    <div class="actions p-0 d-flex align-items-center">
      <div class="form-check form-switch">
        <input (change)="inactiveChange()" class="form-check-input" id="inactive" type="checkbox" />
        <label class="custom-control-label" for="inactive">Inactive</label>
      </div>
      <button aria-label="create" class="btn btn-link" routerLink="create" type="button">
        <em class="bi bi-plus-square"></em>
      </button>
    </div>
  </div>
</div>
@if (upcomingCashflows$ | async; as upcomingCashflows) {
  <div class="container">
    <div class="card-deck row">
      @for (account of accounts$ | async; track account) {
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 pb-4">
          <div (click)="click(account)" (keydown)="click(account)" class="card rounded bg-card" tabindex="0">
            <div class="card-body">
              <h5 class="card-title test-white-25">{{ account.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ accountTypeNames.get(account.type) }}
              </h6>
              <span class="card-text text-white-50"><small>{{ account.description }}</small></span>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-6 text-start">
                  <span [className]="amountClass(account)">{{
                    account.balance | currency
                  }}</span>
                </div>
                <div class="col-6 text-end">
                  <span class="text-muted">{{
                    getUpcomingBalance(account, upcomingCashflows) | currency
                  }}</span>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12 text-end">
                  <small class="text-muted">
                    {{ account.updated | date: 'yyyy-MM-dd' }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <app-loader [small]="true"></app-loader>
}
