<ng-container *ngIf="isLoaded; else loader">
  <div class="pt-3 pb-4 mb-3">
    <div class="container">
      <ng-container>
        <div class="pb-3 mt-3">
          <a class="text-large line-height-1 btn-link" routerLink="/cashflows">
            <em class="bi bi-box-arrow-left pb-1 pe-1"></em>Cashflows
          </a>
        </div>
        <h1 class="display-3 mb-0 line-height-1 text-truncate">
          Edit cashflow
        </h1>
      </ng-container>
      <div class="container mb-5">
        <form (ngSubmit)="onSubmit()" [formGroup]="cashflowForm">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input class="form-control" formControlName="amount" id="amount" placeholder="cashflow amount..."
                   required type="number"/>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" formControlName="category" id="category" required>
              <option *ngFor="let category of categories$ | async" [ngValue]="category.id">{{ category.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="account">Account</label>
            <select class="form-control" formControlName="account" id="account" required>
              <option *ngFor="let account of accounts$ | async" [ngValue]="account.id">{{
                account.name
                }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tags">Tags</label>
            <app-tags-input [tagsArray]="tags" formArrayName="tags" id="tags">
            </app-tags-input>
          </div>
          <div class="form-group">
            <label for="interval">Interval type</label>
            <select [compareWith]="compareFn" class="form-control" formControlName="intervalType" id="interval"
                    required>
              <option *ngFor="let interval of (intervalTypesNames | keyvalue)" [ngValue]="interval.key">
                {{ interval.value }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="frequency">Frequency</label>
            <input class="form-control" formControlName="frequency" id="frequency" min="1" required type="number"/>
          </div>
          <div class="form-group">
            <label for="datepicker">Effective date</label>
            <div class="input-group mb-2">
              <input #date="ngbDatepicker" (click)="date.toggle()" [firstDayOfWeek]=7 class="form-control"
                     formControlName="effectiveDate" id="datepicker" ngbDatepicker placeholder="yyyy-mm-dd"/>
              <div class="input-group-append">
                <a (click)="date.toggle()" class="btn btn-outline-secondary text-secondary">
                  <em class="bi bi-calendar-event"></em>
                </a>
              </div>
            </div>
            <em *ngIf="
                cashflowForm.get('effectiveDate')?.invalid &&
                cashflowForm.get('effectiveDate')?.dirty
              " class="form-text text-danger">Required</em>
          </div>
          <div class="form-group">
            <label for="description">Note</label>
            <input [placeholder]="'cashflow note...'" class="form-control" formControlName="description"
                   id="description"
                   type="text"/>
          </div>

          <div class="form-group col-6 form-check form-switch">
            <input class="form-check-input" formControlName="inactive" id="inactive" type="checkbox"/>
            <label class="custom-control-label" for="inactive">Inactive cashflow</label>
          </div>

          <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-secondary me-2" routerLink="../">
              Cancel
            </button>
            <button [disabled]="!cashflowForm.valid" class="btn btn-primary" type="submit">
              Save
            </button>
          </div>

          <em *ngIf="!cashflowForm.valid" class="form-text text-danger">{{
            cashflowForm.errors
            }}</em>
        </form>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <div class="d-flex justify-content-center mt-5">
    <div class="loader">Loading...</div>
  </div>
</ng-template>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <div *ngIf="confirmMessages" class="alert alert-warning" role="alert">
        {{ confirmMessages }}
      </div>
      <strong>Are you sure you want to save this cashflow?</strong>
    </div>
    <div class="modal-footer">
      <button (click)="modal.dismiss()" class="btn btn-primary" type="button">
        Cancel
      </button>
      <button (click)="onConfirm()" class="btn btn-danger" type="button">
        Confirm
      </button>
    </div>
  </div>
</ng-template>
