<div class="form-group">
  <label for="dateSelect">{{label}}</label>
  <div class="input-group mb-2">
    <input id="dateSelect" class="form-control" ngbDatepicker #datePicker="ngbDatepicker" container="body"
           [firstDayOfWeek]=7
           [autoClose]="true"
           [placeholder]="placeholder"
           [required]="required"
           [disabled]="disabled"
           [(ngModel)]="data"
           [ngModelOptions]="{standalone: true}"
           (click)="datePicker.open()"
           (ngModelChange)="onChange()"
           (blur)="onTouchFn()"
           [class.valid]="control.valid && (control.dirty || control.touched)"
           [class.invalid]="control.invalid && (control.dirty || control.touched)">
    <div class="input-group-append">
      <a (click)="datePicker.toggle()" class="btn btn-outline-secondary text-secondary">
        <em class="bi bi-calendar-event"></em>
      </a>
    </div>
  </div>
</div>
<div *ngIf="control.invalid && control.errors && (control.dirty || control.touched)">
  <small class="text-danger" *ngIf="control.hasError('required')">
    The date is required.
  </small>
  <small class="text-danger" *ngIf="control.hasError('invalidDate')">
    The '{{control.errors.invalidDate.value}}' date is not valid.
  </small>
</div>

